---
layout: default
---
<div class="fb-share-button" data-href="https://enectronic.github.io" data-layout="button_count"></div>
<div class="home">

  {% for post in paginator.posts limit: 1 %}
    <a class="home__post--hero"
       href="{{ post.url | prepend: site.baseurl }}"
       style="background-image: url({{post.thumbnail}})">

      <h3 class="home__post__title">{{ post.title }}</h3>
    </a>
  {% endfor %}

  {% for post in paginator.posts offset: 1 limit: 2 %}
    <a class="home__post"
       href="{{ post.url | prepend: site.baseurl }}"
       style="background-image: url({{post.thumbnail}})">

      <h3 class="home__post__title">{{ post.title }}</h3>
    </a>
  {% endfor %}

  <div class="home__post">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- custom-box -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:336px;height:150px"
         data-ad-client="ca-pub-2159682192140261"
         data-ad-slot="8143654238"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  {% for post in paginator.posts offset: 3 %}
    <a class="home__post"
       href="{{ post.url | prepend: site.baseurl }}"
       style="background-image: url({{post.thumbnail}})">

      <h3 class="home__post__title">{{ post.title }}</h3>
    </a>
  {% endfor %}

  <!-- Pagination links -->
  <div class="home__pagination">
    {% if paginator.previous_page %}
      <a
        href="{{ paginator.previous_page_path }}"
        class="home__page__prev">Föregående</a>
    {% endif %}
    <span class="home__page-number ">Sida: {{ paginator.page }} av {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a
        href="{{ paginator.next_page_path }}"
        class="home__page__next">Nästa</a>
    {% endif %}
  </div>

</div>
